<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <log4net>    
    <appender name="RollingFileSizeAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log.txt" />
      <appendToFile value="true" />
      
      <rollingStyle value="Size" />
      <maximumFileSize value="1KB" />
      <maxSizeRollBackups value="4" />
      <preserveLogFileNameExtension value="true" />
      <countDirection value="1" />
      <staticLogFileName value="false" />
      
      <layout type="log4net.Layout.SimpleLayout" />
    </appender>

    <appender name="RollingFileDateAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log.txt" />
      <appendToFile value="true" />
      <preserveLogFileNameExtension value="true" />
      <staticLogFileName value="false" />
      
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd-HHmm" />

      <layout type="log4net.Layout.SimpleLayout" />
    </appender>

    <appender name="RollingFileCompositeAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log.txt" />
      <appendToFile value="true" />
      
      <rollingStyle value="Composite" />
      <datePattern value="yyyy-MM-dd" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="1KB" />
      <countDirection value="1" />
      <preserveLogFileNameExtension value="false" />
      <staticLogFileName value="false" />
      
      <layout type="log4net.Layout.SimpleLayout" />
    </appender>
    
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingFileCompositeAppender" />
    </root>
  </log4net>

</configuration>