<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <log4net>

    <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
      <to value="your_recipient_email_address"/>
      <from value="your_from_email_address"/>
      <subject value="logging message"/>
      
      <smtpHost value="your_smtp_host_address"/>
      
      <authentication value="basic" />
      <username value="smtp_host_username"/>
      <password value="smtp_host_password"/>
      <enableSSL value="true"/>
      
      <bufferSize value="500"/>
      
      <layout type="log4net.Layout.SimpleLayout"/>
    </appender>
    
    <appender name="SmtpPickupAppender" type="log4net.Appender.SmtpPickupDirAppender">
      <to value="you@youremailserver.com"/>
      <from value="me@myemailserver.com"/>
      <subject value="pickupdir logging message"/>
      
      <pickupDir value="C:\SmtpPickup"/>
      
      <bufferSize value="500"/>
      
      <layout type="log4net.Layout.SimpleLayout"/>
    </appender>
   
    <root>
      <level value="ALL"/>
      <appender-ref ref="SmtpPickupAppender"/>
    </root>
  </log4net>
</configuration>
