<?xml version="1.0"?>
<configuration>
    <configSections>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    </configSections>

    <log4net>
      <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
        <layout type="log4net.Layout.PatternLayout">
          <!--<conversionPattern value="%-6timestamp [%5.5thread] %-5level %30.30logger - %message%newline" />-->

          <conversionPattern value="%%appdomain: %appdomain%newline%%date: %date%newline%%exception: %exception%newline%%file: %file%newline%%level: %level%newline%%line: %line%newline%%location: %location%newline%%logger: %logger%newline%%method: %method%newline%%message: %message%newline%%timestamp: %timestamp%newline%%type: %type%newline%%username: %username%newline%newline" />
        </layout>
        
      </appender>

      <root>
        <level value="ALL"/>
        <appender-ref ref="ConsoleAppender"/>
      </root>
    </log4net>

</configuration>
