<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">

      <filter type="log4net.Filter.PropertyFilter" >
        <key value="activity" />
        <stringToMatch value="important" />
        <acceptOnMatch value="true" />
      </filter>

      <filter type="log4net.Filter.DenyAllFilter" />
      
      <layout type="log4net.Layout.SimpleLayout"/>
    </appender>

    <root>
      <level value="ALL"/>
      <appender-ref ref="ConsoleAppender"/>
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
