<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <log4net>
    
    <appender name="UdpAppender" type="log4net.Appender.UdpAppender">     
      <remoteAddress value="255.255.255.255"/>
      <remotePort value="8088"/>
      <encoding value="ASCII"/>

      <layout type="log4net.Layout.PatternLayout, log4net">
        <conversionPattern value="%-5level %logger - %message%newline"/>
      </layout>    
    </appender>
   
    <root>
      <level value="ALL"/>
      <appender-ref ref="UdpAppender"/>
    </root>
  </log4net>

</configuration>
